body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Light blue background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #e0f7fa; /* White background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* Increased the width to accommodate the input fields */
    text-align: center;
}

.register-title {
    text-align: center;
    color: #00796b; /* Darker blue for the heading */
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the input fields horizontally */
    gap: 1rem;
}

.register-input {
    width: 100%; /* Set the width to 100% to fill the container */
    padding: 12px;
    border: 1px solid #00796b;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.register-input:focus {
    border-color: #004d40; /* Darker green when focused */
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #000000; /* Dark green for button */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: #004d40; /* Darker green on hover */
}

.register-error {
    color: red;
    font-size: 14px;
    margin-bottom: 1rem;
}

.register-link {
    color: #2563eb;
    font-size: 14px;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
